.card-container {
  display: flex;
  gap: 20px;
  margin: 2rem 0rem;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: none;
}


.card {
  height: 300px;
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 2rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  transition: transform 0.3s;
  width: clamp(250px, 30%, 350px);
  height: clamp(350px, 20vw, 500px);
  box-shadow: 0 4px 8px #0000001a;
}

.card:hover {
  transform: scale(1.05);
}

.img_holder {
  position: relative;
  width: 100%;
  height: 60%;
}

.img_holder img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.img_holder .b4 {
  left: 68%;
  width: 8rem;
  border: none;
  bottom: 10px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  background-color: #edaf06cc;
  transform: translateX(-50%);
  font-size: clamp(12px, 2vw, 16px);
  transition: background-color 0.3s;
}

.img_holder .b4:hover {
  background-color: #ffffff;
}

.texts {
  padding: .7rem;
}

.texts h2 {
  margin-top: 5px;
  font-size: clamp(18px, 2.5vw, 24px);
}

.texts h5 {
  font-size: clamp(14px, 2vw, 18px);
  color: #555;
  margin-bottom: 15px;
}

.stars_icon {
  color: #f8b704;
  display: flex;
  align-items: center;
}

.stars_icon p {
  margin-right: 5px;
  font-size: clamp(14px, 2vw, 16px);
}

@media (max-width: 900px) {
  .card-container {
    justify-content: flex-start;
  }
}