.container{
    background-color: #f0f1fd;
    
}
.comments_heading {
    color: #333;
    margin-bottom: 1rem;
    padding-left: 16rem;
    font-size: clamp(1rem, 3vw, 1.5rem); 
}
.comment_cards {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
}


.cards2 {
    margin: .3rem;
    padding: 0.5rem; 
    background: #f0f1fd;
    border-radius: 10px;
    flex: 0 0 clamp(100px, 90%, 315px); 
}

.brife_details {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem; 
}

.pic {
    width: 4rem; 
    height: 4rem; 
    overflow: hidden;
    border-radius: 50%;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    text-align: start;
    padding-left: 1.5rem;
}

.name h4 {
    font-size: clamp(0.8rem, 2vw, 1.2rem); 
}

.name h5 {
    margin: 0;
    color: #808080;
    font-size: clamp(0.7rem, 1.5vw, 1rem); 
}

.comment_section p {
    text-align: start;
    padding-bottom: .5rem;
    font-size: clamp(0.8rem, 2vw, 1rem); 
}

@media (max-width: 900px) and (min-width: 300px) {
    .comment_cards {
        overflow-x: hidden; 
        justify-content: start;
    }
    .comments_heading{
        padding-left: 0px;
    }
    
}