.footer {
    display: flex;
    padding: 2.4rem;
    justify-content: center;
    background-color: #f0f1fd;
}

.copyright {
    width: 14rem;
    margin-right: 3rem;
}

.copyright span {
    font-weight: 300;
}
.highlights{
    margin-right: 3rem;
}
.highlights a {
    color: #000;
    text-decoration: none;
    font-size: clamp(.8rem, 2.5vw, 1.2rem);
}

.highlights li {
    padding-top: .4rem;
    list-style-type: none;
    font-size: clamp(.8rem, 2.5vw, 1.2rem);
}
.service{
    margin-right: 3rem;
    
}
.service a {
    color: #000;
    text-decoration: none;
    font-size: clamp(.8rem, 2.5vw, 1.2rem);
}

.service li {
    padding-top: .4rem;
    list-style-type: none;
    font-size: clamp(.8rem, 2.5vw, 1.2rem);
}

.media {
    margin-right: 3rem;
    text-align: center;
}

.media-icons {
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.media-icons div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem; 
}

.media-icons p {
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}

@media (min-width: 300px) and (max-width: 770px){
    .footer{
        flex-wrap: wrap;
        margin-right: 0px;
    }
    .copyright{
        width: 10rem;
    }
    .copyright, .highlights, .service, .media{
        margin-right: 7rem;
        margin-bottom: 1rem;
    }
}
