
.footer {
    display: flex;
    padding: 20px;
    background-color: #f8f9fa;
}
.st, .nd {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-around;
}
.copyright, .highlights, .service, .media {
 padding: 1rem;
}
.copyright h3, .highlights h3, .service h3, .media h3{
    margin-bottom: 10px;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}
.copyright{
    width: 10rem;
}
.copyright p {
    color: #0b0b0b;
    font-size: clamp(0.8rem, 2vw, 1rem);
}
.service{
    margin-bottom: 2rem;
}
li {
    list-style: none;
}

li a {
    color: #0b0b0b;
    text-decoration: none;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}
.media-icons div {
    display: flex;
    align-items: center;
}

.media-icons div p {
    margin-left: 10px;
    margin-bottom: .5rem;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}
@media (max-width: 770px) {
    .st, .nd {
        align-items: center;
        flex-direction: column;
    }
}

